/* Typography
   ========================================================================== */

.h1,
.h1-like {
    font-family: $font-special;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: 0;
    cursor: pointer;
}

.h2,
.h2-like {
    font-family: $font-special;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: .25rem;
    color: $color-1-normal;
}

.a {
    color: $color-1-normal;
}

ul {
    list-style: none outside none;

    li {
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }
}


/**
 * Media Queries
 */

 @include breakpoint(650px) {
    .h2,
    .h2-like {
        font-size: 1.75rem;
    }

    .a {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}