/* Typography
   ========================================================================== */

.h1,
.h1-like {
    font-family: $font-special;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: 0;
    cursor: pointer;
}

.h2,
.h2-like {

}

.p {

}
