/* Settings
   ========================================================================== */

/**
 * Typography
 */

 $font-regular: "Lato", Helvetica, Arial, sans-serif;
 $font-special: "Oswald", Helvetica, Arial, sans-serif;


/**
 * Colors
 */

// Brand colors
$color-1-normal: #00f;
$color-1-dark: #0005be;

$color-2-normal: #ffe400;
$color-3-normal: #fffeca;

// Text colors
$color-font-dark: #222;
$color-font-medium: #555;
$color-font-white: #fff;


/**
 * Dimensions
 */

$header-height: 3.75rem;


/**
 * Decorations
 */

$box-shadow-diffuse: 0 0 16px rgba(0, 0, 0, .5);
$box-shadow-subtle: 0 0 4px 1px rgba(0, 0, 0, .15);