/* Voorhoeder styles
   ========================================================================== */

.voorhoederWrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 110vh;
}

.voorhoeder {
    @extend %no-select;
    flex-basis: 50%;

    &_stretcher {
        position: relative;
        padding-bottom: 100%;
    }

    &_padder {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: .25rem;
        box-sizing: border-box;
    }

    &_container {
        position: relative;
        width: 100%;
        height: 100%;
        perspective: 1000;
    }

    &_portrait {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: $color-1-normal;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: $box-shadow-subtle;
        overflow: hidden;
        cursor: pointer;

        transform-style: preserve-3d;
        backface-visibility: hidden;
        z-index: 2;
    }

    &_name {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: .25rem 0;
        border-top: 2px solid $color-2-normal;
        background-color: rgba($color-1-normal, .8);

        .p {
            font-size: .875rem;
            line-height: 1rem;
            color: $color-2-normal;
            text-align: center;
        }
    }

    @include breakpoint($hover-threshold) {
        &_name {
            transform: translateY(100%);
            transition: 300ms $ease--out-expo;
        }

        &_portrait:hover {
            .voorhoeder_name {
                transform: translateY(0);
            }
        }
    }

    &_backside {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f4f3f9;
        background-image: url('../../assets/img/logo-with-text.svg');
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: $box-shadow-subtle;

        transform-style: preserve-3d;
        backface-visibility: hidden;
        z-index: 1;
    }
}


/**
 * Media Queries
 */

@include breakpoint(450px) {
    .voorhoeder {
        flex-basis: percentage(1/3);
    }
}

@include breakpoint(650px) {
    .voorhoeder {
        flex-basis: 25%;
    }
}

@include breakpoint(900px) {
    .voorhoeder {
        flex-basis: 20%;
    }
}

@include breakpoint(1150px) {
    .voorhoeder {
        flex-basis: percentage(1/6);
    }
}

@include breakpoint(1400px) {
    .voorhoeder {
        flex-basis: percentage(1/7);
    }
}

@include breakpoint(1650px) {
    .voorhoeder {
        flex-basis: 12.5%;
    }
}

@include breakpoint(2250px) {
    .voorhoeder {
        flex-basis: percentage(1/9);
    }
}

@include breakpoint(2800px) {
    .voorhoeder {
        flex-basis: 10%;
    }
}

@include breakpoint(3150px) {
    .voorhoeder {
        flex-basis: percentage(1/11);
    }
}

@include breakpoint(3440px) {
    .voorhoeder {
        flex-basis: percentage(1/12);
    }
}